*, html {
    box-sizing: border-box;
    color: #cccccc;
}


body {
    font-family: sans-serif;
    font-size: 12pt;
    color: #cccccc;

    margin: 40px auto;
    max-width: 800px;
    padding: 10px;

    background-color: rgb(30 30 30);
    &:has(textarea#editor:focus) {
        /* max-width: 1000px; */
        background-color: rgb(25 25 25);
        /* transform: scale(1.05); */
        transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    }
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
}

::selection {
    background-color: hsla(123, 24%, 40.78%, 0.78);
}

a:visited {
    color: hsl(230.85, 44.36%, 73.92%);
    text-decoration: none;
}

textarea#editor {
    font-size: 11pt;

    margin: 15px auto;

    padding: 10px;

    resize: vertical;

    width: 100%;
    height: 400px;

    &:focus {
        /* background-color: rgb(35 35 35); */
    }

    &.err {
        border-color: hsl(5 55% 38%);
    }
    &.ok {
        border-color: hsl(133.18, 41%, 34%);
    }
}

pre#compiler-error {
    margin: 15px auto;
    padding: 20px;
}

pre#compiler-error,
textarea#editor {
    font-family: monospace;
    border: 4px solid hsl(0, 0%, 30%);
    border-radius: 4px;
    background-color: rgb(20 20 20);

    overflow: auto;
    white-space: pre;
    max-width: 100%;
}

textarea#editor:focus {
    outline: none;
}

.numbered-wrapper {
    display: flex;
    border-right: 1px solid #ddd;
}
.linenumbers {
}

#output {
    /* for share panel */
    position: relative;

    /* image */
    display: grid;
    place-items: center;
    & #output-impl {
        width: 100%;
        min-height: 400px;
    }

    margin: 15px auto;
    padding: 10px 10px;

    width: 100%;

    border: 4px solid hsl(0, 0%, 30%);
    border-radius: 4px;
    background-color: rgb(230 230 230);
}


#eval-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    & .btn {
        margin: 5px 7px;
    }
}

#share-panel {
    position: absolute;
    top: 40px;
    right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    & .btn {
        margin: 5px 12px;
    }
}

#copy {
    background-color: hsl(138 28% 18%);
    color: #cccccc;
    & span::before {
        color: #cccccc;
        /* content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>'); */
    }
}
#save {
    background-color: hsl(138 28% 18%);
    color: #cccccc;
    & span::before {
        /* content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>'); */
        color: #cccccc;
    }
}


.btn {
    background-color: hsl(194 29% 30%);

    font-size: 16px;
    padding: 8px 13px;

    border-radius: 15px;
    border: 1.5px solid hsl(0, 0%, 30%);

    cursor: pointer;

}

.btn, #output {
    transition: 
        rotate 100s ease-in,
        scale 100s ease-in;
    &:hover {
        scale: 1.3;
        rotate: 180deg;
        filter: drop-shadow(0 0 8px #111);
    }
}

/* .btn input[type=checkbox] { */
/*     margin: auto 0.5em; */
/*     border: none; */
/*     background-color: #161616; */
/*     &:checked { */
/*         content: ' '; */
/*         background-color: #161616; */
/*     } */
/* } */

button#send-eval {
    border-radius: 6px;

    background-color: hsl(122 30% 31%);

    &:hover {
        background-color: hsl(122 29% 36%);
    }

    &:disabled {
        background-color: hsl(0 0% 27%);
    }

    &:disabled:hover {
        background-color: hsl(100, 0%, 30%);
        cursor: not-allowed;
    }

}

.typeswitch {
    background-color: hsl(201 50% 32%);
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: hsl(201 50% 38%);
    }

    .menu-selected::after {
        content: '+';
        margin-left: 0.5em;
        font-size: 0.8em;
    }

    .menu-options {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: hsl(201 50% 32%);
        min-width: 100%;
        z-index: 100;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
        font-size: 14pt;
    }

    .menu-option {
        padding: 8px 12px;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
            background-color: hsl(201 50% 38%);
        }
    }

    &:hover .menu-options {
        display: block;
        border-top: none;
    }
    &:hover {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}
button#start-demo {
    background-color: hsl(300, 35%, 35%);
    &:hover {
        background-color: hsl(300, 35%, 38%);
    }
}

.hidden {
    display: none;
}

.inline-icon {
    display: inline-box;
    width: 1.3em;
    height: 1.3em;
    vertical-align: middle;
    margin-right: 0.5em;
}
