*, html {
    box-sizing: border-box;
    color: #cccccc;
}


body {
    font-family: sans-serif;
    font-size: 12pt;
    color: #cccccc;

    margin: 40px auto;
    max-width: 800px;
    padding: 10px;

    background-color: rgb(10 10 10);
    &:has(textarea#editor:focus) {
        /* max-width: 1000px; */
        background-color: hsl(0 0% 2%);
        /* transform: scale(1.05); */
        transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    }
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
}

::selection {
    background-color: hsla(123, 24%, 40.78%, 0.78);
}

a:visited {
    color: hsl(230.85, 44.36%, 73.92%);
    text-decoration: none;
}

textarea#editor {
    font-size: 11pt;

    margin: 15px auto;

    padding: 10px;

    resize: vertical;

    width: 100%;
    height: 400px;

    &:focus {
        /* background-color: rgb(35 35 35); */
    }

    &.err {
        border-color: hsl(5 55% 38%);
    }
    &.ok {
        border-color: hsl(133.18, 41%, 34%);
    }
}

pre#compiler-error {
    margin: 15px auto;
    padding: 20px;
}

pre#compiler-error,
textarea#editor {
    font-family: monospace;
    border: 4px solid hsl(0, 0%, 30%);
    border-radius: 4px;
    background-color: rgb(30 30 30);

    overflow: auto;
    white-space: pre;
    max-width: 100%;
}

textarea#editor:focus {
    outline: none;
}

.numbered-wrapper {
    display: flex;
    border-right: 1px solid #ddd;
}
.linenumbers {
}

#output {
    /* for share panel */
    position: relative;

    /* image */
    display: grid;
    place-items: center;
    & #output-impl {
        width: 100%;
        min-height: 400px;
    }

    margin: 15px auto;
    padding: 10px 10px;

    width: 100%;

    border: 4px solid hsl(0, 0%, 30%);
    border-radius: 4px;
    background-color: rgb(230 230 230);
}


#eval-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    & .btn {
        margin: 5px 7px;
    }
}

#share-panel {
    position: absolute;
    top: 40px;
    right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    & .btn {
        margin: 5px 12px;
    }
}

.btn {
    background-color: hsl(194 29% 30%);

    font-size: 16px;
    padding: 8px 20px;

    border-radius: 4px;
    border: 1.5px solid hsl(0, 0%, 30%);

    cursor: pointer;
}

button#send-eval {

    background-color: hsl(122 30% 31%);

    &:hover {
        background-color: hsl(122 29% 36%);
    }

    &:disabled {
        background-color: hsl(0 0% 27%);
    }

    &:disabled:hover {
        background-color: hsl(100, 0%, 30%);
        cursor: not-allowed;
    }
}

.typeswitch {
    background-color: hsl(201 50% 32%);

    &:hover {
        background-color: hsl(201 50% 38%);
    }

}

button.share {
    background-color: hsl(138 28% 30%);
}

button#start-demo {
    background-color: hsl(300, 35%, 35%);
    &:hover {
        background-color: hsl(300, 35%, 38%);
    }
}

.hidden {
    display: none;
}
