*, html { 
    box-sizing: border-box;

}

::selection {
    background-color: hsla(123, 24%, 40.78%, 0.78);
}

body {
    font-family: sans-serif;
    font-size: 12pt;
    color: #eee;


    margin: 40px auto;
    max-width: 800px;
    padding: 10px;

    background-color: rgb(10 10 10);
    &:has(textarea#editor:focus) {
        background-color: hsl(0 0% 2%);
        transform: scale(1.05);
        transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    }
    transition:  cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, div, textarea, pre, button {
}

a:visited {
    color: hsl(230.85, 44.36%, 73.92%);
    text-decoration: none;
}

textarea#editor {
    font-size: 11pt;

    margin: 30px auto;

    padding: 10px;

    resize: vertical;

    width: 100%;
    height: 500px;

    background-color: rgb(40, 40, 40);
    &:focus {
        background-color: rgb(35 35 35);
    }

    &.err {
        border-color: hsl(5 55% 38%);
    }
    &.ok {
        border-color: hsl(133.18, 41%, 34%);
    }
}

pre#compiler-error {
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(30 30 30);
}

pre#compiler-error, textarea#editor {
    font-family: monospace;
    border: 4px solid hsl(0, 0%, 30%);
    border-radius: 4px;

    overflow: auto;
    white-space: pre;
    max-width: 100%;
}

textarea#editor:focus {
    outline: none;
}

#output {
    margin: 30px auto;
    padding: 50px;

    width: 100%;

    border: 4px solid hsl(0, 0%, 30%);
    border-radius: 4px;
    background-color: rgb(230 230 230);
}

.btn {
    display: inline-block;

    font-size: 16px;

    margin: auto 10px;
    padding: 10px 20px;

    border: none;
    border-radius: 4px;

    cursor: pointer;

}

button#send-eval {
    background-color: hsl(122 30% 31%);

    &:hover {
        background-color: hsl(122 29% 36%);
    }

    &:disabled {
        background-color: hsl(0 0% 27%);
    }

    &:disabled:hover {
        background-color: hsl(100, 0%, 30%);
        cursor: not-allowed;
    }
}

label.typeswitch {
    background-color: hsl(201 50% 32%);

    &:hover {
        background-color: hsl(201 50% 38%);
    }
    & input[type="radio"] {
        margin-right: 6px;
    }

    & input[type="radio"]:checked + span {
        font-weight: bold;
    }
}

button.share {
    background-color: hsl(300 28% 31%);
}

button#start-demo {
    background-color: hsl(300, 35%, 35%);
    &:hover {
        background-color: hsl(300, 35%, 38%);
    }
}

.hidden {
    display: none;
}
