body {
    box-sizing: border-box;

    font-family: sans-serif;

    margin: 40px auto;
    max-width: 800px;
    padding: 10px;
}
textarea#editor {
    margin: 30px auto;

    padding: 10px;

    resize: vertical;

    font-family: monospace;

    width: 100%;
    height: 400px;

    border: 4px solid #ddd;
    border-radius: 4px;

    background-color: rgb(245 245 245);
    &:focus {
        background-color: rgb(230 230 230);
    }

    &.err {
        border: 4px solid hsl(16, 83.25%, 31%);
    }
    &.ok {
        border: 4px solid hsl(133, 83.25%, 31%);
    }
    
}
textarea#editor:focus {
    outline: none;
}
button#send-eval {
    font-size: 16px;
    color: rgb(256, 256, 256);

    margin: auto 10px;
    padding: 10px 20px;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    background-color: hsl(123, 35%, 35%);

    &:hover {
        background-color: hsl(123, 51%, 35%);
    }

    &:disabled {
        background-color: hsl(100, 0%, 50%);
    }
    &:disabled:hover {
        background-color: hsl(100, 0%, 50%);
        cursor: not-allowed;
    }
}
label.typeswitch {
    display: inline-block;

    font-size: 16px;
    background-color: hsl(199, 25%, 50%);

    color: rgb(255, 255, 255);

    margin: auto 10px;
    padding: 10px 20px;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    &:hover {
        background-color: hsl(199, 40%, 50%);
    }
    & input[type="radio"] {
        margin-right: 6px;
    }

    & input[type="radio"]:checked + span {
        font-weight: bold;
    }
}

button.share {
    font-size: 16px;
    color: rgb(256, 256, 256);

    margin: auto 10px;
    padding: 10px 20px;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    background-color: hsl(180, 35%, 35%);
}
button.start-demo {
    font-size: 16px;
    color: rgb(256, 256, 256);

    margin: auto 10px;
    padding: 10px 20px;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    background-color: hsl(300, 35%, 35%);
}
#output {
    margin: 30px auto;
    padding: 50px;

    border: 4px solid #ddd;
    border-radius: 4px;
}
pre#compiler-error {
    margin: 30px auto;
    padding: 20px;

    width: 100%;

    border: 4px solid hsl(16, 83.25%, 31%);
    border-radius: 4px;
}
.hidden {
    display: none;
}
